# Credentials
creds/

# .NET
backend/**/bin/
backend/**/obj/
backend/**/*.user

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/

# Windows Zone.Identifier files
*:Zone.Identifier

# IDE
.idea/
*.swp
*.swo
